@use '../../../styles/variables' as *;
@use 'sass:color';

.category-sidebar {
  &__title {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid color.adjust($dark-bg, $lightness: 10%);
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  height: 3rem;
  transition: background-color 0.2s ease, color 0.2s ease;

  &__name {
    font-weight: 500;
  }

  svg {
    color: $secondary-text;
    transition: transform 0.2s ease;
  }

  &:hover {
    background-color: color.adjust($dark-bg, $lightness: 5%);
  }

  &.is-active {
    color: $primary-color;
    font-weight: 700;

    svg {
      color: $primary-color;
      transform: translateX(4px);
    }
  }
}